@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

#adminContent li {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

#adminContent li a {
    color: #fff;
    text-decoration: none;
}

#adminContent .col-md-2 {
    height: 100vh;
}

#footer {
    background-color: #2d2b3a;
}

#footer a {
    color: #fff;
}

.py-15{
    padding-top: 150px;
    padding-bottom: 150px;
}

#iletisimBanner a{
    color: #000;
    text-decoration: none;
}

#blogBanner a{
    color: #fff;
    text-decoration: none;
}

#info i{
    font-size: 40px;
}

.mor{
    color:#6c55f9;
}

.btn-mor{
    background-color: #6c55f9;
    color: #fff;
}

.smallyazi p{
    line-height: 16px !important;
}

.sosmed a{
    color:#393939 !important;
    font-size: 24px !important;
}