#adminContent li {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

#adminContent li a {
    color: #fff;
    text-decoration: none;
}

#adminContent .col-md-2 {
    height: 100vh;
}

#footer {
    background-color: #2d2b3a;
}

#footer a {
    color: #fff;
}